:root {
    --bg-color: #e0e5ec;
    --bg-color-reverse: #2c2c2c;
    --bg-color-btn: #1a1a1a;
    --bg-color-green: #32CD32;
    --bg-color-red: #ed0606;
    --bg-color-hover: #e0e5ec;
    --shadow-dark: #b8bcc4;
    --shadow-light: #ffffff;
    --text-color: #333;
    --text-color-reverse: #f0f0f0;
    --sidebar-bg: #e0e5ec;
    --sidebar-active: #32CD32;
    --highlight-color: #e0e5ec;
}

.dark-mode {
    --bg-color: #2c2c2c;
    --bg-color-reverse: #e0e5ec;
    --bg-color-btn: #e0e5ec;
    --bg-color-green: #32CD32;
    --bg-color-red: #ed0606;
    --bg-color-hover: #2c2c2c;
    --shadow-dark: #1a1a1a;
    --shadow-light: #3a3a3a;
    --text-color: #f0f0f0;
    --text-color-reverse: #333;
    --sidebar-bg: #222;
    --sidebar-active: #32CD32;
    --highlight-color: #2c2c2c;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--shadow-dark);
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
    color: #f0f0f0;
    opacity: 1;
}

.dark-mode select option:disabled {
    color: #aaa;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.d-flex.flex-column.flex-grow-1 {
    height: 100vh;
    overflow-y: auto;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}

.breadcrumb-text {
    color: var(--text-color);
}

.neumorphic-card {
    background: var(--bg-color);
    box-shadow: 8px 8px 15px var(--shadow-dark), -8px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-card-reverse {
    background: var(--bg-color);
    box-shadow: 8px 8px 15px var(--shadow-dark), -8px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-card2 {
    background: var(--bg-color);
    box-shadow: 2px 2px 5px var(--shadow-dark), -2px -2px 5px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-modal {
    background: var(--bg-color);
    box-shadow: 4px 4px 8px var(--shadow-dark), -4px -4px 8px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-badge {
    background: var(--bg-color-reverse);
}

.neumorphic-button {
    color: var(--bg-color-btn);
    background: var(--bg-color);
    box-shadow: 8px 8px 15px var(--shadow-dark), -4px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-btn-success {
    color: var(--bg-color-green);
    border: 2px solid var(--bg-color-green);
    box-shadow: 8px 8px 15px var(--shadow-dark), -4px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-btn-danger {
    color: var(--bg-color-red);
    border: 2px solid var(--bg-color-red);
    box-shadow: 8px 8px 15px var(--shadow-dark), -4px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-button-outline {
    color: var(--text-color-reverse);
    background: var(--bg-color-green);
    box-shadow: 8px 8px 15px var(--shadow-dark), -4px -8px 15px var(--shadow-light);
    border-radius: 12px;
    outline: 2px solid var(--shadow-light);
    transition: all 0.3s ease-in-out;
}

.neumorphic-btn-green {
    color: var(--text-color);
    background: var(--bg-color-green);
    box-shadow: 8px 8px 15px var(--shadow-dark), -4px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-button:hover,
.neumorphic-button.active {
    color: var(--bg-color);
    background: var(--bg-color-btn);
    box-shadow: 8px 8px 15px var(--shadow-dark), -8px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-breadcrumb {
    background: var(--bg-color);
    box-shadow: 8px 8px 15px var(--shadow-dark), -8px -8px 15px var(--shadow-light);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.neumorphic-sidebar {
    background: var(--bg-color);
    box-shadow: 8px 8px 15px var(--shadow-dark), -8px -8px 15px var(--shadow-light);
    transition: all 0.3s ease-in-out;
}

.neumorphic-header {
    background: var(--sidebar-bg);
    box-shadow: 8px 8px 15px var(--shadow-dark), 0px -8px 15px var(--shadow-dark);
    transition: all 0.3s ease-in-out;
}

.neumorphic-footer {
    background: var(--sidebar-bg);
    box-shadow: 8px 8px 15px var(--shadow-dark), 0px -8px 15px var(--shadow-dark);
    transition: all 0.3s ease-in-out;
}

.sidebar {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    width: 250px;
    background: var(--sidebar-bg);
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sidebar-item i {
    font-size: 1.2rem;
}

.neu-text {
    color: var(--text-color);
}

.neu-text:hover {
    color: var(--text-color-reverse);
}

@media (min-width: 768px) {
    .sidebar-collapsed {
        width: 90px !important;
        overflow: hidden;
    }

    .sidebar-collapsed .sidebar-text {
        display: none;
    }

    .sidebar-collapsed .sidebar-header .sidebar-text {
        display: none;
    }
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    background: #32CD32;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
}

.toggle-btn:hover {
    background: #b8bcc4;
    color: black;
    transition: background 0.3s ease-in-out;
}

.sidebar-item:hover {
    background: #32CD32;
    color: white;
    transition: background 0.3s ease-in-out;
}

.sidebar-button:hover {
    color: white;
}

.sidebar-item.active {
    background: var(--sidebar-active);
    border-radius: 10px;
    color: white;
}

.sidebar-item {
    color: var(--text-color);
}

.sidebar-item.active {
    font-weight: bold;
    color: white;
}

.sidebar-button.active {
    color: white;
}

.bg-green {
    background: #32CD32;
}

.text-green {
    color: #32CD32;
}

.popup-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #32CD32;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.popup-btn:hover {
    background: #b8bcc4;
    color: black;
}

.user-menu .btn {
    color: white;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
}

.user-menu .btn:hover {
    background: #b8bcc4;
    color: black;
    transition: background 0.3s ease-in-out;
}

.user-menu .btn i {
    font-size: 1.2rem;
}

#mobileToggle {
    width: 40px;
    height: 40px;
}

@media (max-width: 767px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 100vh;
        z-index: 1050;
    }
}

.neumorphic-inset {
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px var(--shadow-dark),
        inset -5px -5px 10px var(--shadow-light);
    padding: 10px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    background: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--shadow-dark),
        -5px -5px 10px var(--shadow-light);
}

.table thead th {
    color: var(--text-color);
    background: var(--bg-color);
    padding: 12px;
    text-align: left;
    box-shadow: inset 2px 2px 4px var(--shadow-dark),
        inset -2px -2px 4px var(--shadow-light);
    border: none;
}

.table tbody td {
    color: var(--text-color);
    background: var(--bg-color);
    padding: 12px;
    box-shadow: inset 2px 2px 4px var(--shadow-dark),
        inset -2px -2px 4px var(--shadow-light);
    border: none;
}

.table tbody tr:hover {
    box-shadow: 2px 2px 5px var(--shadow-dark),
        -2px -2px 5px var(--shadow-light);
}

.table tbody tr:hover td {
    color: var(--bg-color-hover);
    background: var(--bg-color-btn);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

.table tbody tr:hover .carousel-control-prev,
.table tbody tr:hover .carousel-control-next {
    color: var(--shadow-dark);
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    pointer-events: none;
}

.select-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    pointer-events: none;
}

.ss-main {
    background: var(--bg-color);
    border-radius: 12px;
    box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
    border: none;
    padding: 5px;
}

.ss-multi-selected {
    background: var(--bg-color);
    box-shadow: inset 3px 3px 5px var(--shadow-dark), inset -3px -3px 5px var(--shadow-light);
    border-radius: 5px;
}

.ss-multi-selected .ss-values {
    display: flex;
    flex-wrap: wrap;
}

.ss-multi-selected .ss-value {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: inset 3px 3px 5px var(--shadow-dark), inset -3px -3px 5px var(--shadow-light);
    border-radius: 5px;
    padding: 5px 10px;
}

.ss-placeholder {
    color: var(--text-color) !important;
    opacity: 0.7 !important;
}

.ss-multi-selected {
    background: var(--bg-color) !important;
    box-shadow: inset 3px 3px 5px var(--shadow-dark), inset -3px -3px 5px var(--shadow-light) !important;
    border-radius: 5px !important;
    color: var(--text-color) !important;
}

.ss-content {
    background: var(--bg-color) !important;
}

.ss-search {
    color: var(--text-color-reverse) !important;
}

.ss-search input {
    background: var(--bg-color) !important;
    box-shadow: 8px 8px 15px var(--shadow-dark), -8px -8px 15px var(--shadow-light) !important;
    border-radius: 12px !important;
    transition: all 0.3s ease-in-out !important;
}

.ss-list .ss-search {
    color: var(--text-color) !important;
}

.ss-search input::placeholder {
    color: var(--bg-color-reverse) !important;
    opacity: 1;
}

.ss-list {
    margin: 2px !important;
}

.ss-list .ss-option {
    margin: 8px !important;
    color: var(--text-color) !important;
    background: var(--bg-color) !important;
    box-shadow: 4px 4px 8px var(--shadow-dark), -4px -4px 8px var(--shadow-light) !important;
    transition: all 0.3s ease-in-out !important;
    border-radius: 12px !important;
}

.ss-list .ss-option:hover {
    background: var(--bg-color-reverse) !important;
    color: var(--text-color-reverse) !important;
}

.ss-list .ss-selected {
    background: var(--bg-color-reverse) !important;
    color: var(--text-color-reverse) !important;
}

.ss-value {
    background: var(--bg-color-reverse) !important;
    color: var(--text-color-reverse) !important;
    border-radius: 12px !important;
}

.ss-values {
    background: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-radius: 12px !important;
}

.ss-value-text {
    color: var(--text-color-reverse) !important;
}

.ss-value-delete {
    color: var(--text-color-reverse) !important;
}

.neumorphic-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
    position: relative;
    margin: auto;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--bg-color-green);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
}

.dark-mode .neumorphic-loader {
    background: var(--bg-color);
    box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
}

.dark-mode .spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-top-color: var(--bg-color-green);
}

.dark-mode .loading-text {
    color: var(--text-color);
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 3.5rem);
}
